Repository bx-design/react-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "components/**/*.{js,ts,jsx,tsx}": "eslint --fix",
  "**/*.{js,ts,jsx,tsx,json,css,scss,md}": "prettier --write"
}

update props and fix ui provider
  components/badge/index.ts
  components/ui-provider/provider.tsx
Due: eslint --fix, prettier --write

update folder tests
  components/badge/__tests__/__snapshots__/badge.spec.tsx.snap
  components/badge/__tests__/badge.spec.tsx
  jest.config.js
  package.json
Due: eslint --fix, prettier --write

update provider test and mock styled-jsx
  components/themes/base.css
  components/themes/index.ts
  components/ui-provider/__tests__/__snapshots__/provider.spec.tsx.snap
  components/ui-provider/__tests__/provider.spec.tsx
  components/ui-provider/provider.tsx
  tests/__mocks__/styled-jsx/css.ts
Due: eslint --fix, prettier --write

change order pre-commit
  .husky/pre-commit
Due: none

update test args
  components/badge/__tests__/__snapshots__/badge.spec.tsx.snap
  components/badge/__tests__/badge.spec.tsx
  components/ui-provider/__tests__/__snapshots__/provider.spec.tsx.snap
  components/ui-provider/__tests__/provider.spec.tsx
Due: eslint --fix, prettier --write

add props route for simple import
  components/badge/index.ts
  components/index.ts
Due: eslint --fix, prettier --write

update v 1.0.0-canary.0
  package.json
Due: prettier --write

add publish config package
  package.json
Due: prettier --write

update prop error name provider
  components/ui-provider/provider.tsx
  package.json
Due: eslint --fix, prettier --write

update for errors in types
  components/ui-provider/provider.tsx
  components/ui-provider/types.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

update changes
  components/badge/__tests__/badge.spec.tsx
  components/badge/badge.tsx
  components/themes/base.css
  components/types/index.ts
  components/ui-provider/__tests__/__snapshots__/provider.spec.tsx.snap
  components/ui-provider/__tests__/provider.spec.tsx
  components/ui-provider/provider.tsx
  components/ui-provider/types.ts
  package.json
  scripts/babel.config.js
  scripts/tsconfig.json
  scripts/webpack.config.js
  tests/.babelrc.js
  tsconfig.json
Due: eslint --fix, prettier --write

update changes
  components/badge/__tests__/badge.spec.tsx
  components/badge/badge.tsx
  components/themes/base.css
  components/types/index.ts
  components/ui-provider/__tests__/provider.spec.tsx
  components/ui-provider/provider.tsx
  components/ui-provider/types.ts
  package.json
  scripts/babel.config.js
  scripts/tsconfig.json
  scripts/webpack.config.js
  tests/.babelrc.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

update snap
  components/ui-provider/__tests__/__snapshots__/provider.spec.tsx.snap
Due: none

update classnames
  components/badge/badge.tsx
  components/utils/classnames/index.ts
  components/utils/classnames/types.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

update classnames utils
  components/utils/classnames/__tests__/classnames.spec.ts
  jest.config.js
Due: eslint --fix, prettier --write

update version
  package.json
Due: prettier --write

update classnames utils
  components/badge/badge.tsx
  components/utils/classnames/__tests__/classnames.spec.ts
  components/utils/classnames/index.ts
  components/utils/classnames/types.ts
  jest.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

update global font
  components/themes/base.tsx
  components/themes/index.ts
  components/themes/reset.tsx
  components/themes/style.tsx
  components/ui-provider/__tests__/__snapshots__/provider.spec.tsx.snap
  components/ui-provider/provider.tsx
Due: eslint --fix, prettier --write

update version and css
  components/themes/index.ts
  components/themes/reset.tsx
  components/themes/style.tsx
  components/ui-provider/__tests__/__snapshots__/provider.spec.tsx.snap
  components/ui-provider/provider.tsx
  package.json
Due: eslint --fix, prettier --write

base styles vars
  components/themes/base.tsx
Due: eslint --fix, prettier --write

update colors
  components/badge/__tests__/__snapshots__/badge.spec.tsx.snap
  components/badge/badge.tsx
  components/themes/base.tsx
  package.json
Due: eslint --fix, prettier --write

update badge colors
  components/badge/__tests__/__snapshots__/badge.spec.tsx.snap
  components/badge/badge.tsx
  components/themes/base.tsx
Due: eslint --fix, prettier --write

feat: update v
  packages/button/package.json
Due: prettier --write

feat: update and add changeset
  .changeset/README.md
  .changeset/config.json
  package.json
  yarn.lock
Due: prettier --write

feat: update build in react ui
  babel.config.js
  package.json
  packages/button/package.json
  packages/card/package.json
  packages/checkbox/package.json
  packages/core/package.json
  packages/forms/package.json
  packages/modal/package.json
  packages/react/index.ts
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/tsconfig.json
  packages/spinner/package.json
  packages/table/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

feat: update build
  package.json
Due: prettier --write
